[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ClusterStability"]
	path = ClusterStability
	url = https://github.com/cran/ClusterStability
